@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  select[multiple],
  select[size]:where(select:not([size='1'])),
  .form-select:where([size]:not([size='1'])) {
    background-image: initial;
    background-position: initial;
    background-repeat: unset;
    background-size: initial;
    padding-right: 0.75rem;
    -webkit-print-color-adjust: unset;
    print-color-adjust: unset;
  }

}