<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='kyh.api.dao.UserDao'>

  <select id='findByName' parameterType='String' resultType='User'>
    select
      user_id as id,
      name as name,
      password as password,
      authority_id as authority
    from user_t
    where name = #{name}
  </select>

  <select id='findWithMenuByName' parameterType='String' resultType='Map'>
    select
      u.user_id as id,
      u.name as name,
      u.password as password,
      a.role as role,
      m.path as path,
      m.text as text,
      m.img_path as img
    from user_t u
    join authority a on a.authority_id = u.authority_id 
    join authority_menu am on a.authority_id=am.authority_id 
    join menu m on m.menu_id=am.menu_id 
    where u.name = #{name}
    order by m.seq asc
  </select>

  <insert id='save' parameterType='Map'>
    <selectKey keyProperty='id' resultType='Long' order='BEFORE'>
      select coalesce(max(user_id) + 1, 1) from user_t
    </selectKey>
    insert into user_t (
      user_id,
      name,
      password,
      authority_id,
      created_date,
      updated_date
    )
    values (
      #{id},
      #{name},
      #{password},
      #{authority.id},
      now(),
      now()
    )
  </insert>

</mapper>